@import url("https://use.typekit.net/vuc8ktj.css");

body {
  background-color: #0A0C25;
  color: white;
  font-family: sofia-pro, sans-serif;
  
}

.container-styles {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
